@mixin center {
    display: grid;
    place-items: center;
  }
  
  @mixin padding($top, $right, $bottom, $left) {
    padding: $top $right $bottom $left;
  }
  
  @mixin rounded-corners($radius) {
    border-radius: $radius;
  }